
.wrap-input{
    border: none;
    box-shadow: 0 0 0 1px rgba(0,0,0, .1),0 2px 4px 1px rgba(0,0,0, .18);
    font-family: Arial;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
}

.wrap-input input{
    width: 100%;
    border: none;
    font-family: Arial;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
    padding: 10px 5px;
    box-sizing: border-box;
    outline: none;
}

.wrap-input ul {
    list-style-type: none;
    border-top: 1px solid grey;
    text-align: left;
    margin-top: 0;
    padding: 0;
}

.wrap-input ul::before {
    content: "";
  }

.wrap-input ul li {
    height: 70px;
    padding: 5px;
    cursor: pointer;
}


.wrap-input ul img {
    float: right;
}


.wrap-input li:hover {
    text-decoration: underline;
    background-color: rgba(128, 128, 128, 0.20)
}

.loot-stats{
    display: flex;
}