@import '~antd/dist/antd.css';

.logo-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.loot-container{
  display: flex;
}

.loot-content{
  display: flex;
}

.column-search{
  width: 200px;
  padding: 10px;
}

.column-display{
  padding: 10px;
  
}
